body {
}
.test{
    margin: 0px 50px;
}
.quest {
    text-align: center;
    font-size: 24px;
    background-color: #00ff9085;
    margin: 50px 25px;
    padding: 20px 50px;
    border-radius: 5px 5px;

}
.enumerator{
    
}